backports-abc==0.4
backports.ssl-match-hostname==3.4.0.2
certifi==2015.11.20.1
decorator==4.0.6
dominate==2.1.16
Flask==0.10.1
Flask-Bootstrap==3.3.5.7
Flask-Script==2.0.5
functools32==3.2.3.post2
ipdb==0.8.1
ipykernel==4.2.1
ipython==4.0.1
ipython-genutils==0.1.0
itsdangerous==0.24
Jinja2==2.8
jsonschema==2.5.1
jupyter-client==4.1.1
jupyter-core==4.0.6
MarkupSafe==0.23
mistune==0.7.1
nbconvert==4.1.0
nbformat==4.0.1
notebook==4.0.6
numpy==1.10.1
path.py==8.1.2
pexpect==4.0.1
pickleshare==0.5
ptyprocess==0.5
pygal==2.0.11
Pygments==2.0.2
pyzmq==15.1.0
scipy==0.16.1
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.10.0
terminado==0.5
tornado==4.3
traitlets==4.0.0
visitor==0.1.2
Werkzeug==0.11.2
