{% extends "bootstrap/base.html" %}
{% block title %}Final Simulación - Ejercicio 226{% endblock %}

{% block navbar %}
<div class="navbar navbar-fixed-top">
  <!-- ... -->
</div>
{% endblock %}

{% block content %}
<div class="content" style="margin-left: 10px; margin-right: 10px;">
<h1 class="text-info text-center">Final Simulación - Ejercicio 226</h1>
<div class="row">
    <div class="col-md-3 col-md-offset-9">
        <ul class="alert alert-info text-right" style="list-style-type: none;">
            <li><strong>Nestor Navarro</strong> - leg.54.153</li>
            <li><a href="mailto:nestornav@gmail.com">nestornav@gmail.com</a></li>
            <li>2015/12/11</li>
            <li>
                <button type="button" class="btn btn-warning btn-xs" data-toggle="modal" data-target="#enunciado-modal">
                    <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Enunciado
                </button>
            </li>
        </ul>
    </div>
</div>

<div class="row">
    <form method="post" action="{{url_for('run_simulation')}}">
        <div class="col-md-5">
            <h4>Par&aacute;metrosTiempo de Respueta Base de Datos</h4>
            <label>Media</label>
            <input id="media_respuesta" name="media_respuesta" type="number" value="{{media_respuesta}}"/>

            <label>Desviaci&oacute;n</label>
            <input id="desv_respuesta" name="desv_respuesta" type="number" value="{{desv_respuesta}}"/>
        </div>


        <div class="col-md-4">
            <h4>Par&aacute;metros Tiempo Ejecución Terminales</h4>
            <label>Media</label>
            <input id="media_consulta" name="media_consulta" type="number" value="{{media_consulta}}"/>
        </div>

        <div class="col-md-3">
            <h4>Cantitdad de Corridas</h4>
            <label>Cantidad</label>
            <input id="numero_corridas" name="numero_corridas" type="number" value="{{numero_corridas}}"/>
        </div>
        <div class="col-md-3 col-md-offset-6" style="margin-top: 15px;">
            <button class="btn btn-primary" type="submit">
                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Ejecutar
            </button>
        </div>

    </form>
</div>




<div class="row">
    <div class="col-md-12">
        <h3>Iteraciones del Modelo
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#stats-modal" {% if not stats %}disabled{% endif %}>
                <span class="glyphicon glyphicon-stats" aria-hidden="true"></span> Estadísticas
            </button>
            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#graficos-modal" {% if not stats %}disabled{% endif %}>
                <span class="glyphicon glyphicon-equalizer" aria-hidden="true"></span> Gráficos
            </button>
        </h3>
        <table id="data" class="table table-hover table-striped table-condensed">
            <thead>
                <tr>
                    <th>Iteraci&oacute;n</th>
                    <th>Reloj</th>
                    <th>Evento</th>
                    <th>Tiempo Consulta RDN</th>
                    <th>Tiempo Toltal Consulta</th>
                    <th>Tiempo Respuesta RDN</th>
                    <th>Tiempo Total Respuesta</th>
                    <th>Proc. Activo</th>
                    <th>DB Ocupada</th>
                    <th>Tiempo Ocioso</th>
                </tr>
            </thead>
            <tbody>
                {% for resultado in (resultados or []) %}
                <tr>
                    <td>{{resultado.iteration + 1}}</td>
                    <td>{{resultado.reloj}}</td>
                    <td>{{resultado.evento}}</td>
                    <td>{{resultado.tiempo_consulta_rnd}}</td>
                    <td>{{resultado.tiempo_consulta_total}}</td>
                    <td>{{resultado.tiempo_respuesta_rnd_db}}</td>
                    <td>{{resultado.tiempo_respuesta_total}}</td>
                    <td>{{resultado.procesos_activos}}</td>
                    <td>{% if resultado.db_ocupada %} Si {% else %} No {% endif %}</td>
                    <td>{{resultado.tiempo_ocioso}}</td>
                </tr>
                {%endfor%}
            </tbody>
        </table>
    </div>
</div>
</div>


<div id="enunciado-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Ejercicio 26</h4>
        </div>
        <div class="modal-body">
            <p>Desde el momento en que se presenta una petición de información hasta el momento en que se entrega, una base
            de datos demora un tiempo que responde a la siguiente función:</p>
            <p>Tiempo respuesta = <code>0,1 seg + x seg</code> . (número de procesos ejecutándose en ese momento)</p>
            <p>Donde x es un tiempo que responde a una distribución normal de media 10 segundos y desviación estándar 5
            segundos.</p>
            <p>Los procesos llegan a la base de datos de 20 terminales, cada una de las cuales ejecuta una consulta cada 200
            segundos en promedio (distribución exponencial), más 15 segundos.</p>
            <ul>
                <li>¿Determinar la cantidad máxima de procesos trabajando simultáneamente?</li>
                <li>¿Cuál es la demora promedio de respuesta de la base de datos?</li>
                <li>¿Cuánto es el tiempo ocioso de la base de datos?</li>
                <li>¿Cuál es la demora máxima de un proceso?</li>
                <li>¿Cuál es la probabilidad de que existan 8 o más procesos simultáneamente?</li>
            </ul>
        </div>
    </div>
  </div>
</div>


{% if stats %}

<div id="stats-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
                Estadísticas en <strong>{{numero_corridas}}</strong> iteraciones</h4>
        </div>
        <div class="modal-body">
            <ul>
                <li>
                    <strong>Cantidad máxima de procesos trabajando simultáneamente: </strong>
                    <code>{{stats["max_process"]}}</code>
                </li>
                <li>
                    <strong>Demora promedio de respuesta de la base de datos: </strong>
                    <code>{{stats["demora_promedio"]}}</code>
                </li>
                <li>
                    <strong>Tiempo ocioso de la base de datos: </strong>
                    <code>{{stats["tiempo_ocioso"]}}</code>
                </li>
                <li>
                    <strong>Demora máxima de un proceso: </strong>
                    <code>{{stats["demora_maxima"]}}</code>
                </li>
                <li>
                    <strong>Probabilidad de que existan 8 o más procesos simultáneamente: </strong>
                    <code>{{stats["promedio_gt8"]}}</code>
                </li>
            </ul>
        </div>
    </div>
  </div>
</div>


<div id="graficos-modal" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">
                Gráficos en <strong>{{numero_corridas}}</strong> iteraciones</h4>
        </div>
        <div class="modal-body">
            <ul id="tabs" class="nav nav-tabs">
                {% for g in graphs %}
                    <li role="presentation" {% if loop.first %}class="active"{% endif %}>
                        <a data-scope="#tab-content" onclick="tabClick(this);" href="#g{{loop.index}}">{{g.title}}</a>
                    </li>
                {% endfor %}
            </ul>
            <div class="tab-content" id="tab-content">
            {% for g in graphs %}
                <div id="g{{loop.index}}" class="tab-pane fade in {% if loop.first %}active{% endif %}">
                    <svg width="100%" height="400">{{g.render(is_unicode=True,disable_xml_declaration=True)|safe}}</svg>
                </div>
            {% endfor %}
            </div>
        </div>
    </div>
  </div>
</div>

<script>
    function tabClick(elem){
        var $a = $(elem);
        var href = $a.attr("href");
        $("ul#tabs > li").removeClass("active");
        $("div#tab-content > div.tab-pane").hide();


        $a.parents("li").addClass("active");
        $(href).show("slow");
        return false;
    }
</script>
{% endif %}



{% endblock %}
